{% extends 'core/base.html' %}
{% load static %}

{% block title %}Список товаров - ООО «Обувь»{% endblock %}
{% block h1 %}Каталог товаров{% endblock %}

{% block content %}
<div>
    {% for product in products %}
    <div class="product-card 
        {% if product.discount > 15 %}sale{% endif %}
        {% if product.quantity == 0 %}out-of-stock{% endif %}">
        {% if product.photo %}
        <img src="{{ product.photo.url }}" class="image" alt="{{ product.name }}">
        {% else %}
        <img src="{% static 'images/picture.png' %}" class="image" alt="Заглушка">
        {% endif %}
        <div class="details">
            <strong>{{ product.category }} | {{ product.name }}</strong>
            <br />
            Описание товара: {{ product.description }}
            <br />
            Производитель: {{ product.manufacturer }}
            <br />
            Поставщик: {{ product.supplier.name }}
            <br />
            {% if product.discount > 0 %}
            Цена: <span class="old-price">{{ product.price }}</span> {{ product.final_price|floatformat:2 }} руб.
            {% else %}
            Цена: {{ product.price }} руб.
            {% endif %}
            <br />
            Единица измерения: {{ product.unit }}
            <br />
            Количество на складе: {{ product.quantity }}
        </div>
        <div class="sale">{{ product.discount }}%</div>
    </div>
    {% empty %}
    <p>Товары не найдены.</p>
    {% endfor %}
</div>
{% endblock %}